<a href="https://colab.research.google.com/github/LaunchPad-Purdue/Mentor-Mentee-Pairing/blob/main/Pairing_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
mentees = pd.read_csv("fakeMentees.csv")
mentors = pd.read_csv("fakeMentors.csv")

In [ ]:
mentees['Name'] = mentees['Name'].str.split().str[0]
mentees.head()

        Name
0    Bradley
1    Trenton
2    Brianna
3  Cristobal
4      Billy

In [ ]:
mentors['Name'] = mentors['Name'].str.split().str[0]
mentors.head()

     Name
0   Isaac
1  Aileen
2     Jan
3  Donnie
4   Sammy

## Random generation for testing

In [ ]:
import random

def generate_match(max=30):
  val = random.randint(0, max - 1)
  return val

def generate_10_students(max=30):
  arr = []
  while len(arr) < 10:
    num = generate_match(max)
    if num not in arr:
      arr.append(num)
  return arr

In [ ]:
# Simulating distribution with 1, 2
test = {0: 0, 1: 0}
for i in range(1, 10000):
  test[generate_match(2)] += 1
print(test)
# Roughly simulating three batches of students

generate_10_students()

{0: 5059, 1: 4940}

[21, 8, 23, 24, 28, 25, 17, 22, 26, 18]

In [ ]:
# Randomizer for simulating responses

mentee_ranks = pd.DataFrame() # What mentors ranked mentees
mentor_ranks = pd.DataFrame() # What mentees ranked mentors

for i in mentors['Name']: # Create a bunch of random randomized 1-10 rankings for mentors
  df = {"Timestamp": "10",
         "Email address": "%s@purdue.edu" % i.lower(),
         "What's your name?": i}
  arr = generate_10_students()
  df["Rank 1 (Top Choice)"] = mentees["Name"][arr[0]]
  for j in range(1, 10):
    df["Rank %d" % (j + 1)] = mentees["Name"][arr[j]]
  mentee_ranks = mentee_ranks.append(df, ignore_index=True)

for i in mentees['Name']:
  df = {"Timestamp": "10",
         "Email address": "%s@purdue.edu" % i.lower(),
         "What's your name?": i}
  arr = generate_10_students()
  df["Rank 1 (Top Choice)"] = mentors["Name"][arr[0]]
  for j in range(1, 10):
    df["Rank %d" % (j + 1)] = mentors["Name"][arr[j]]
  mentor_ranks = mentor_ranks.append(df, ignore_index=True)

# This is all basically to get a replica of the google form responses that'll be loaded in

In [ ]:
mentee_ranks.head()

       Email address Rank 1 (Top Choice)  ... Timestamp What's your name?
0   isaac@purdue.edu              Althea  ...        10             Isaac
1  aileen@purdue.edu                Dean  ...        10            Aileen
2     jan@purdue.edu             Brianna  ...        10               Jan
3  donnie@purdue.edu               Erica  ...        10            Donnie
4   sammy@purdue.edu            Rosalind  ...        10             Sammy

[5 rows x 13 columns]

In [ ]:
mentor_ranks.head()

          Email address Rank 1 (Top Choice)  ... Timestamp What's your name?
0    bradley@purdue.edu               Quinn  ...        10           Bradley
1    trenton@purdue.edu             Eleanor  ...        10           Trenton
2    brianna@purdue.edu               Homer  ...        10           Brianna
3  cristobal@purdue.edu               James  ...        10         Cristobal
4      billy@purdue.edu               Abdul  ...        10             Billy

[5 rows x 13 columns]

# Actual Algorithm
Based on: https://rosettacode.org/wiki/Stable_marriage_problem#Python

In [ ]:
# Now here's where the actual algorithm starts.
# Insert stuff to read csv files for mentor mentee here
## mentor_ranks = pd.read_csv("menteesresp.csv")
## mentee_ranks = pd.read_csv("mentorsresp.csv")

In [ ]:
mentor_ranks.head()

          Email address Rank 1 (Top Choice)  ... Timestamp What's your name?
0    bradley@purdue.edu               Quinn  ...        10           Bradley
1    trenton@purdue.edu             Eleanor  ...        10           Trenton
2    brianna@purdue.edu               Homer  ...        10           Brianna
3  cristobal@purdue.edu               James  ...        10         Cristobal
4      billy@purdue.edu               Abdul  ...        10             Billy

[5 rows x 13 columns]

## Preprocessing

Since Stable Marriage requires an (2N)x(N) mapping, we're randomly ranking people between 11-30 to get to a 60 x 30 mapping.

Our assumption is that most matchings would happen between people who ranked each other in their top 10. We'll then figure out people who didn't get matches between 1-10 and manually review their profiles and match them.

In [ ]:
tor_p = {} #mentor preferences
tee_p = {} #mentee preferences

tors = mentors.to_numpy().reshape(30)
tees = mentees.to_numpy().reshape(30)

# Setup dictionaries with names as keys

for i in tors:
  tor_p[i] = [] 

for i in tees:
  tee_p[i] = []

# Building mentor ranks
for i in mentee_ranks.iterrows():
  name = i[1]["What's your name?"]
  tor_p[name].append(i[1]["Rank 1 (Top Choice)"])
  for j in range(1, 10):
    tor_p[name].append(i[1]["Rank %d" % (j + 1)]) # Add 1-10 rankings to each person
  remaining = np.setdiff1d(tees, tor_p[name])
  np.random.shuffle(remaining) # Shuffle remaining 11-20 rankings (see explanation above)
  for j in remaining:
    tor_p[name].append(j)
print("Mentor Rankings: ", tor_p)

# Building mentee ranks
for i in mentor_ranks.iterrows():
  name = i[1]["What's your name?"]
  tee_p[name].append(i[1]["Rank 1 (Top Choice)"])
  for j in range(1, 10):
    tee_p[name].append(i[1]["Rank %d" % (j + 1)])
  remaining = np.setdiff1d(tors, tee_p[name])
  np.random.shuffle(remaining)
  for j in remaining:
    tee_p[name].append(j)
print("Mentee Rankings: ", tee_p)

Mentor Rankings:  {'Isaac': ['Althea', 'Becky', 'Kris', 'Paula', 'John', 'Lawanda', 'Sean', 'Rhoda', 'Catherine', 'Rowena', 'Stefan', 'Dianna', 'Bradley', 'Everett', 'Dean', 'Billy', 'Franklin', 'Hubert', 'Rosalind', 'Brianna', 'Hobert', 'Walker', 'Cristobal', 'Deangelo', 'Simone', 'Erica', 'Teddy', 'Trenton', 'Irene', 'Kasey'], 'Aileen': ['Dean', 'John', 'Rowena', 'Billy', 'Teddy', 'Catherine', 'Dianna', 'Kris', 'Lawanda', 'Cristobal', 'Brianna', 'Rosalind', 'Erica', 'Trenton', 'Stefan', 'Hubert', 'Sean', 'Becky', 'Paula', 'Irene', 'Deangelo', 'Walker', 'Franklin', 'Bradley', 'Hobert', 'Althea', 'Everett', 'Rhoda', 'Simone', 'Kasey'], 'Jan': ['Brianna', 'Sean', 'Rosalind', 'Everett', 'Cristobal', 'Teddy', 'Catherine', 'Hobert', 'Walker', 'Simone', 'Dean', 'Bradley', 'Billy', 'Dianna', 'John', 'Lawanda', 'Irene', 'Trenton', 'Hubert', 'Althea', 'Becky', 'Paula', 'Rowena', 'Deangelo', 'Erica', 'Rhoda', 'Kris', 'Franklin', 'Kasey', 'Stefan'], 'Donnie': ['Erica', 'Deangelo', 'Becky', 'Kasey', 'Cristobal', 'Paula', 'Everett', 'Hubert', 'Billy', 'John', 'Teddy', 'Franklin', 'Dianna', 'Catherine', 'Lawanda', 'Althea', 'Irene', 'Simone', 'Bradley', 'Brianna', 'Walker', 'Rhoda', 'Rosalind', 'Kris', 'Sean', 'Stefan', 'Rowena', 'Dean', 'Trenton', 'Hobert'], 'Sammy': ['Rosalind', 'Cristobal', 'Becky', 'Simone', 'Erica', 'Irene', 'Brianna', 'Dianna', 'Paula', 'Catherine', 'Hobert', 'Everett', 'John', 'Althea', 'Franklin', 'Kasey', 'Teddy', 'Stefan', 'Hubert', 'Rhoda', 'Rowena', 'Bradley', 'Lawanda', 'Sean', 'Dean', 'Kris', 'Deangelo', 'Trenton', 'Walker', 'Billy'], 'Gilbert': ['Catherine', 'Sean', 'Dianna', 'Deangelo', 'Rosalind', 'Bradley', 'Kasey', 'Everett', 'Franklin', 'Rhoda', 'Cristobal', 'Dean', 'Billy', 'Trenton', 'Hubert', 'Kris', 'Becky', 'Erica', 'Irene', 'Hobert', 'Althea', 'Walker', 'Stefan', 'Simone', 'Paula', 'Lawanda', 'Teddy', 'Rowena', 'John', 'Brianna'], 'Abdul': ['Hubert', 'Deangelo', 'Billy', 'Althea', 'Kasey', 'Dianna', 'Kris', 'Catherine', 'Sean', 'Stefan', 'Everett', 'Lawanda', 'Rowena', 'Rosalind', 'Simone', 'Erica', 'Rhoda', 'Trenton', 'Walker', 'Cristobal', 'Franklin', 'Becky', 'John', 'Bradley', 'Dean', 'Teddy', 'Paula', 'Hobert', 'Brianna', 'Irene'], 'Kent': ['Paula', 'Kris', 'Rowena', 'Billy', 'Hobert', 'Catherine', 'Althea', 'Rosalind', 'Lawanda', 'Hubert', 'Stefan', 'Cristobal', 'Trenton', 'John', 'Franklin', 'Deangelo', 'Walker', 'Dean', 'Everett', 'Teddy', 'Rhoda', 'Irene', 'Dianna', 'Simone', 'Brianna', 'Erica', 'Kasey', 'Bradley', 'Becky', 'Sean'], 'Hiram': ['Becky', 'Hubert', 'Catherine', 'Stefan', 'Sean', 'Althea', 'Bradley', 'Dianna', 'Rosalind', 'Rhoda', 'Paula', 'Franklin', 'Teddy', 'Simone', 'Rowena', 'Irene', 'Cristobal', 'Kris', 'Lawanda', 'John', 'Everett', 'Trenton', 'Dean', 'Kasey', 'Deangelo', 'Brianna', 'Walker', 'Hobert', 'Billy', 'Erica'], 'Louis': ['Franklin', 'Becky', 'Catherine', 'Irene', 'Everett', 'Teddy', 'Stefan', 'Hubert', 'Kris', 'Trenton', 'Althea', 'Paula', 'Rowena', 'Erica', 'Rosalind', 'Walker', 'Dean', 'Hobert', 'Brianna', 'Kasey', 'John', 'Deangelo', 'Simone', 'Rhoda', 'Lawanda', 'Billy', 'Sean', 'Cristobal', 'Dianna', 'Bradley'], 'Erma': ['Teddy', 'Kasey', 'Rhoda', 'John', 'Everett', 'Trenton', 'Brianna', 'Kris', 'Paula', 'Becky', 'Irene', 'Stefan', 'Billy', 'Bradley', 'Cristobal', 'Sean', 'Dianna', 'Simone', 'Rowena', 'Deangelo', 'Hubert', 'Catherine', 'Dean', 'Althea', 'Erica', 'Rosalind', 'Walker', 'Hobert', 'Franklin', 'Lawanda'], 'Genaro': ['John', 'Deangelo', 'Cristobal', 'Dianna', 'Hobert', 'Rhoda', 'Hubert', 'Catherine', 'Teddy', 'Paula', 'Kasey', 'Kris', 'Brianna', 'Irene', 'Sean', 'Rowena', 'Dean', 'Erica', 'Lawanda', 'Franklin', 'Walker', 'Billy', 'Simone', 'Everett', 'Trenton', 'Stefan', 'Bradley', 'Becky', 'Althea', 'Rosalind'], 'Darcy': ['Billy', 'Lawanda', 'Everett', 'Becky', 'Rosalind', 'Kris', 'John', 'Bradley', 'Franklin', 'Paula', 'Catherine', 'Walker', 'Dianna', 'Dean', 'Hubert', 'Kasey', 'Rhoda', 'Irene', 'Trenton', 'Teddy', 'Althea', 'Erica', 'Sean', 'Simone', 'Hobert', 'Stefan', 'Brianna', 'Rowena', 'Deangelo', 'Cristobal'], 'Yvette': ['Franklin', 'Sean', 'Trenton', 'Stefan', 'Althea', 'Dianna', 'Kris', 'Hobert', 'Erica', 'Rosalind', 'Lawanda', 'Rowena', 'Bradley', 'John', 'Rhoda', 'Walker', 'Teddy', 'Catherine', 'Irene', 'Hubert', 'Deangelo', 'Dean', 'Kasey', 'Brianna', 'Becky', 'Everett', 'Simone', 'Paula', 'Billy', 'Cristobal'], 'James': ['Rowena', 'Franklin', 'Bradley', 'Kasey', 'John', 'Brianna', 'Dean', 'Teddy', 'Althea', 'Catherine', 'Billy', 'Stefan', 'Rhoda', 'Irene', 'Cristobal', 'Hubert', 'Lawanda', 'Everett', 'Paula', 'Walker', 'Erica', 'Rosalind', 'Hobert', 'Simone', 'Deangelo', 'Dianna', 'Trenton', 'Becky', 'Sean', 'Kris'], 'Homer': ['Kasey', 'Cristobal', 'Dean', 'Walker', 'Sean', 'Hobert', 'Deangelo', 'Rosalind', 'Everett', 'Kris', 'Irene', 'Lawanda', 'Rhoda', 'Teddy', 'Billy', 'Simone', 'Catherine', 'Rowena', 'Althea', 'Paula', 'Erica', 'Hubert', 'Trenton', 'Becky', 'Bradley', 'Dianna', 'Stefan', 'Brianna', 'John', 'Franklin'], 'Kaye': ['Kris', 'Walker', 'Stefan', 'John', 'Billy', 'Paula', 'Cristobal', 'Kasey', 'Erica', 'Becky', 'Teddy', 'Simone', 'Trenton', 'Rhoda', 'Irene', 'Lawanda', 'Deangelo', 'Dianna', 'Hubert', 'Sean', 'Althea', 'Bradley', 'Brianna', 'Everett', 'Rowena', 'Franklin', 'Rosalind', 'Hobert', 'Catherine', 'Dean'], 'Donte': ['Rowena', 'Lawanda', 'Bradley', 'Rosalind', 'John', 'Sean', 'Teddy', 'Hobert', 'Kasey', 'Becky', 'Dean', 'Everett', 'Billy', 'Simone', 'Brianna', 'Dianna', 'Rhoda', 'Deangelo', 'Kris', 'Stefan', 'Cristobal', 'Paula', 'Franklin', 'Erica', 'Trenton', 'Hubert', 'Walker', 'Irene', 'Althea', 'Catherine'], 'Teddy': ['Everett', 'Dianna', 'Cristobal', 'Bradley', 'Becky', 'Franklin', 'Kris', 'Teddy', 'Catherine', 'Althea', 'Billy', 'Walker', 'Kasey', 'Stefan', 'Sean', 'Dean', 'Paula', 'Lawanda', 'Rosalind', 'Trenton', 'Erica', 'Hobert', 'Brianna', 'Deangelo', 'Rhoda', 'Hubert', 'Simone', 'John', 'Rowena', 'Irene'], 'Damian': ['Hubert', 'Lawanda', 'John', 'Teddy', 'Brianna', 'Cristobal', 'Catherine', 'Walker', 'Stefan', 'Becky', 'Deangelo', 'Erica', 'Dianna', 'Irene', 'Kasey', 'Paula', 'Hobert', 'Rhoda', 'Billy', 'Bradley', 'Franklin', 'Althea', 'Rosalind', 'Everett', 'Kris', 'Simone', 'Sean', 'Rowena', 'Dean', 'Trenton'], 'Berta': ['John', 'Catherine', 'Kris', 'Teddy', 'Stefan', 'Franklin', 'Hobert', 'Trenton', 'Simone', 'Rhoda', 'Erica', 'Rowena', 'Brianna', 'Bradley', 'Everett', 'Dean', 'Paula', 'Deangelo', 'Billy', 'Irene', 'Althea', 'Lawanda', 'Dianna', 'Hubert', 'Walker', 'Rosalind', 'Kasey', 'Becky', 'Sean', 'Cristobal'], 'Quinn': ['Lawanda', 'Dianna', 'Becky', 'Kris', 'Brianna', 'Stefan', 'Hobert', 'Paula', 'Cristobal', 'Everett', 'Billy', 'Walker', 'Rhoda', 'Kasey', 'Rowena', 'Althea', 'Erica', 'Teddy', 'Rosalind', 'Sean', 'John', 'Bradley', 'Dean', 'Simone', 'Trenton', 'Irene', 'Hubert', 'Deangelo', 'Franklin', 'Catherine'], 'Eleanor': ['John', 'Everett', 'Deangelo', 'Becky', 'Paula', 'Franklin', 'Hubert', 'Teddy', 'Simone', 'Rhoda', 'Dianna', 'Kris', 'Lawanda', 'Cristobal', 'Walker', 'Stefan', 'Kasey', 'Irene', 'Rosalind', 'Billy', 'Dean', 'Catherine', 'Bradley', 'Trenton', 'Althea', 'Erica', 'Rowena', 'Brianna', 'Sean', 'Hobert'], 'Travis': ['Stefan', 'Kris', 'Paula', 'Catherine', 'Irene', 'John', 'Simone', 'Everett', 'Rowena', 'Erica', 'Brianna', 'Becky', 'Billy', 'Rhoda', 'Althea', 'Kasey', 'Teddy', 'Lawanda', 'Hobert', 'Walker', 'Sean', 'Dianna', 'Dean', 'Hubert', 'Franklin', 'Bradley', 'Trenton', 'Rosalind', 'Deangelo', 'Cristobal'], 'Arturo': ['Rosalind', 'Cristobal', 'Paula', 'Dean', 'Rowena', 'Catherine', 'Erica', 'Lawanda', 'Rhoda', 'Bradley', 'Walker', 'Kasey', 'Sean', 'Franklin', 'Billy', 'Brianna', 'Teddy', 'Simone', 'Kris', 'Hubert', 'John', 'Althea', 'Trenton', 'Hobert', 'Stefan', 'Dianna', 'Becky', 'Everett', 'Deangelo', 'Irene'], 'Latonya': ['Paula', 'Rosalind', 'Kris', 'Rowena', 'Franklin', 'Bradley', 'Dean', 'Everett', 'Kasey', 'Trenton', 'Simone', 'Catherine', 'Erica', 'Rhoda', 'Althea', 'Cristobal', 'Walker', 'Brianna', 'Hubert', 'Teddy', 'Dianna', 'Sean', 'Deangelo', 'Lawanda', 'Hobert', 'John', 'Billy', 'Becky', 'Irene', 'Stefan'], 'Hung': ['John', 'Rosalind', 'Irene', 'Simone', 'Sean', 'Catherine', 'Hubert', 'Rowena', 'Hobert', 'Erica', 'Stefan', 'Brianna', 'Walker', 'Althea', 'Billy', 'Lawanda', 'Rhoda', 'Dean', 'Franklin', 'Deangelo', 'Trenton', 'Dianna', 'Cristobal', 'Paula', 'Bradley', 'Becky', 'Kasey', 'Everett', 'Teddy', 'Kris'], 'Kathleen': ['Trenton', 'Kris', 'Franklin', 'Becky', 'Catherine', 'Dianna', 'Hubert', 'Hobert', 'Billy', 'Kasey', 'Simone', 'Rhoda', 'Stefan', 'Bradley', 'Brianna', 'Irene', 'Teddy', 'Lawanda', 'Everett', 'Dean', 'Rowena', 'John', 'Sean', 'Rosalind', 'Deangelo', 'Erica', 'Walker', 'Althea', 'Paula', 'Cristobal'], 'Carmela': ['Rosalind', 'Becky', 'Sean', 'Irene', 'Franklin', 'Bradley', 'Catherine', 'Billy', 'Everett', 'Hubert', 'Erica', 'Paula', 'Dean', 'Kasey', 'Deangelo', 'Cristobal', 'Trenton', 'Rhoda', 'Hobert', 'Teddy', 'Dianna', 'Brianna', 'Walker', 'Stefan', 'Kris', 'Rowena', 'Althea', 'John', 'Lawanda', 'Simone'], 'Brandy': ['Hobert', 'Paula', 'Althea', 'Kasey', 'Bradley', 'Cristobal', 'Dianna', 'Simone', 'Franklin', 'Deangelo', 'Becky', 'Rhoda', 'Everett', 'Brianna', 'Hubert', 'Billy', 'Sean', 'Walker', 'John', 'Rosalind', 'Irene', 'Lawanda', 'Teddy', 'Kris', 'Trenton', 'Erica', 'Dean', 'Stefan', 'Rowena', 'Catherine']}
Mentee Rankings:  {'Bradley': ['Quinn', 'Donte', 'Abdul', 'Arturo', 'Latonya', 'Genaro', 'Darcy', 'Louis', 'Homer', 'Sammy', 'Yvette', 'Teddy', 'Carmela', 'Eleanor', 'Brandy', 'James', 'Hung', 'Travis', 'Hiram', 'Isaac', 'Gilbert', 'Donnie', 'Kaye', 'Berta', 'Kent', 'Damian', 'Erma', 'Jan', 'Kathleen', 'Aileen'], 'Trenton': ['Eleanor', 'Teddy', 'Kathleen', 'Damian', 'Aileen', 'Carmela', 'Darcy', 'Quinn', 'Gilbert', 'Yvette', 'Jan', 'Genaro', 'Latonya', 'Hiram', 'Abdul', 'Sammy', 'Erma', 'Brandy', 'Berta', 'Arturo', 'Louis', 'Travis', 'Homer', 'James', 'Isaac', 'Donnie', 'Kent', 'Kaye', 'Hung', 'Donte'], 'Brianna': ['Homer', 'Carmela', 'Louis', 'Kathleen', 'Aileen', 'Hung', 'Donte', 'James', 'Erma', 'Arturo', 'Damian', 'Darcy', 'Abdul', 'Teddy', 'Donnie', 'Berta', 'Kaye', 'Travis', 'Quinn', 'Latonya', 'Gilbert', 'Hiram', 'Eleanor', 'Yvette', 'Brandy', 'Isaac', 'Kent', 'Jan', 'Genaro', 'Sammy'], 'Cristobal': ['James', 'Gilbert', 'Erma', 'Hung', 'Eleanor', 'Abdul', 'Travis', 'Isaac', 'Damian', 'Genaro', 'Kent', 'Kathleen', 'Quinn', 'Aileen', 'Carmela', 'Arturo', 'Donte', 'Brandy', 'Latonya', 'Berta', 'Sammy', 'Homer', 'Darcy', 'Jan', 'Yvette', 'Kaye', 'Hiram', 'Teddy', 'Donnie', 'Louis'], 'Billy': ['Abdul', 'Louis', 'Donnie', 'Hung', 'Yvette', 'James', 'Kaye', 'Travis', 'Donte', 'Jan', 'Kathleen', 'Latonya', 'Erma', 'Hiram', 'Isaac', 'Teddy', 'Quinn', 'Darcy', 'Damian', 'Gilbert', 'Arturo', 'Genaro', 'Aileen', 'Berta', 'Eleanor', 'Sammy', 'Carmela', 'Kent', 'Homer', 'Brandy'], 'Kris': ['Kaye', 'James', 'Aileen', 'Sammy', 'Carmela', 'Eleanor', 'Arturo', 'Teddy', 'Jan', 'Hung', 'Homer', 'Donte', 'Latonya', 'Gilbert', 'Abdul', 'Brandy', 'Isaac', 'Genaro', 'Darcy', 'Kathleen', 'Erma', 'Travis', 'Hiram', 'Louis', 'Yvette', 'Donnie', 'Damian', 'Quinn', 'Berta', 'Kent'], 'Erica': ['Latonya', 'Hung', 'Hiram', 'Genaro', 'Teddy', 'Eleanor', 'Carmela', 'Brandy', 'Arturo', 'Louis', 'Kaye', 'Yvette', 'Sammy', 'Abdul', 'Donte', 'Quinn', 'Darcy', 'Berta', 'Gilbert', 'Jan', 'Aileen', 'Kathleen', 'James', 'Isaac', 'Donnie', 'Kent', 'Damian', 'Homer', 'Travis', 'Erma'], 'Franklin': ['Homer', 'Donnie', 'Kaye', 'Isaac', 'Donte', 'Yvette', 'Travis', 'Berta', 'Aileen', 'Eleanor', 'Latonya', 'Abdul', 'James', 'Gilbert', 'Carmela', 'Sammy', 'Louis', 'Damian', 'Kent', 'Hung', 'Quinn', 'Genaro', 'Arturo', 'Jan', 'Kathleen', 'Hiram', 'Brandy', 'Teddy', 'Erma', 'Darcy'], 'Dean': ['James', 'Donnie', 'Genaro', 'Homer', 'Isaac', 'Quinn', 'Aileen', 'Brandy', 'Yvette', 'Latonya', 'Kathleen', 'Sammy', 'Kaye', 'Hiram', 'Teddy', 'Arturo', 'Gilbert', 'Berta', 'Kent', 'Donte', 'Damian', 'Hung', 'Eleanor', 'Travis', 'Carmela', 'Darcy', 'Louis', 'Jan', 'Erma', 'Abdul'], 'Catherine': ['Donnie', 'Louis', 'Carmela', 'Gilbert', 'Sammy', 'Quinn', 'James', 'Berta', 'Arturo', 'Kathleen', 'Homer', 'Aileen', 'Damian', 'Darcy', 'Travis', 'Genaro', 'Kaye', 'Abdul', 'Teddy', 'Erma', 'Donte', 'Yvette', 'Eleanor', 'Jan', 'Latonya', 'Brandy', 'Isaac', 'Hung', 'Hiram', 'Kent'], 'Hobert': ['Berta', 'Kent', 'Homer', 'Hung', 'Damian', 'Quinn', 'Isaac', 'Carmela', 'Louis', 'Donnie', 'Erma', 'Darcy', 'Arturo', 'Eleanor', 'Teddy', 'James', 'Sammy', 'Gilbert', 'Hiram', 'Donte', 'Kathleen', 'Abdul', 'Travis', 'Kaye', 'Brandy', 'Genaro', 'Yvette', 'Aileen', 'Jan', 'Latonya'], 'Rowena': ['Yvette', 'Carmela', 'Isaac', 'Latonya', 'Hung', 'Eleanor', 'Gilbert', 'Teddy', 'Genaro', 'Aileen', 'Kent', 'Donnie', 'Damian', 'Quinn', 'Brandy', 'Louis', 'James', 'Kathleen', 'Kaye', 'Jan', 'Sammy', 'Donte', 'Abdul', 'Homer', 'Berta', 'Hiram', 'Travis', 'Erma', 'Darcy', 'Arturo'], 'Kasey': ['Homer', 'Darcy', 'Yvette', 'Abdul', 'Arturo', 'Damian', 'Donnie', 'Latonya', 'Eleanor', 'Quinn', 'Louis', 'Berta', 'Carmela', 'Travis', 'Jan', 'Aileen', 'Isaac', 'Hiram', 'Teddy', 'Genaro', 'Erma', 'Hung', 'Donte', 'Kaye', 'Gilbert', 'James', 'Kent', 'Sammy', 'Brandy', 'Kathleen'], 'Stefan': ['Louis', 'Kaye', 'Gilbert', 'Genaro', 'Abdul', 'Hiram', 'Berta', 'Eleanor', 'Donte', 'Travis', 'Isaac', 'Yvette', 'Aileen', 'Carmela', 'Darcy', 'Brandy', 'Erma', 'James', 'Arturo', 'Donnie', 'Latonya', 'Teddy', 'Kent', 'Kathleen', 'Quinn', 'Sammy', 'Hung', 'Jan', 'Damian', 'Homer'], 'Hubert': ['Yvette', 'Erma', 'Arturo', 'Donnie', 'Donte', 'Carmela', 'Abdul', 'Darcy', 'Isaac', 'Kent', 'Latonya', 'Homer', 'Quinn', 'Kaye', 'Teddy', 'Louis', 'Sammy', 'James', 'Brandy', 'Genaro', 'Hung', 'Gilbert', 'Berta', 'Travis', 'Kathleen', 'Hiram', 'Eleanor', 'Aileen', 'Jan', 'Damian'], 'Simone': ['Travis', 'James', 'Berta', 'Donnie', 'Latonya', 'Abdul', 'Homer', 'Hung', 'Brandy', 'Damian', 'Teddy', 'Darcy', 'Aileen', 'Jan', 'Kent', 'Arturo', 'Quinn', 'Louis', 'Carmela', 'Genaro', 'Eleanor', 'Isaac', 'Kathleen', 'Yvette', 'Gilbert', 'Erma', 'Donte', 'Hiram', 'Sammy', 'Kaye'], 'Becky': ['Aileen', 'Hung', 'Jan', 'Homer', 'Eleanor', 'Teddy', 'Quinn', 'Damian', 'Gilbert', 'Arturo', 'Donte', 'Louis', 'Isaac', 'Sammy', 'Kathleen', 'Carmela', 'Darcy', 'Latonya', 'Berta', 'Kaye', 'Donnie', 'Abdul', 'Erma', 'Brandy', 'Genaro', 'Yvette', 'James', 'Kent', 'Hiram', 'Travis'], 'Paula': ['Hung', 'Latonya', 'Darcy', 'Yvette', 'Homer', 'Carmela', 'Quinn', 'Erma', 'Damian', 'Kent', 'James', 'Kaye', 'Isaac', 'Donnie', 'Abdul', 'Genaro', 'Sammy', 'Aileen', 'Kathleen', 'Jan', 'Eleanor', 'Donte', 'Hiram', 'Travis', 'Arturo', 'Teddy', 'Brandy', 'Louis', 'Berta', 'Gilbert'], 'Rosalind': ['Louis', 'Donnie', 'Sammy', 'Aileen', 'Jan', 'Arturo', 'Erma', 'Donte', 'Travis', 'Hung', 'Isaac', 'Teddy', 'Darcy', 'Hiram', 'Berta', 'Kaye', 'James', 'Brandy', 'Gilbert', 'Latonya', 'Genaro', 'Abdul', 'Homer', 'Carmela', 'Kent', 'Kathleen', 'Quinn', 'Damian', 'Yvette', 'Eleanor'], 'Althea': ['Brandy', 'Hung', 'Berta', 'Arturo', 'Homer', 'Erma', 'Jan', 'Eleanor', 'Carmela', 'Hiram', 'Aileen', 'Louis', 'Darcy', 'Damian', 'Kent', 'Genaro', 'Teddy', 'James', 'Sammy', 'Donte', 'Kathleen', 'Yvette', 'Travis', 'Quinn', 'Gilbert', 'Isaac', 'Latonya', 'Donnie', 'Kaye', 'Abdul'], 'Dianna': ['Latonya', 'Jan', 'Berta', 'Isaac', 'Quinn', 'Arturo', 'Donte', 'Louis', 'Abdul', 'Sammy', 'Damian', 'Donnie', 'Hung', 'Genaro', 'Carmela', 'Teddy', 'Homer', 'Yvette', 'Erma', 'Kent', 'Gilbert', 'Aileen', 'Hiram', 'Eleanor', 'Brandy', 'Kathleen', 'Kaye', 'Travis', 'James', 'Darcy'], 'Teddy': ['Jan', 'Carmela', 'Damian', 'Hiram', 'Berta', 'Teddy', 'Genaro', 'Kaye', 'Erma', 'Kathleen', 'James', 'Isaac', 'Latonya', 'Darcy', 'Travis', 'Donte', 'Arturo', 'Quinn', 'Sammy', 'Eleanor', 'Yvette', 'Brandy', 'Homer', 'Louis', 'Hung', 'Gilbert', 'Aileen', 'Kent', 'Abdul', 'Donnie'], 'John': ['Travis', 'Eleanor', 'Louis', 'Abdul', 'Donte', 'Aileen', 'Carmela', 'Arturo', 'Isaac', 'Sammy', 'Darcy', 'Damian', 'Erma', 'Kathleen', 'Gilbert', 'Kent', 'Teddy', 'Hiram', 'Brandy', 'Kaye', 'Homer', 'James', 'Latonya', 'Berta', 'Quinn', 'Yvette', 'Genaro', 'Jan', 'Donnie', 'Hung'], 'Deangelo': ['Darcy', 'Quinn', 'Kaye', 'Sammy', 'Brandy', 'Donte', 'Louis', 'Homer', 'Carmela', 'Yvette', 'Arturo', 'Travis', 'Teddy', 'Berta', 'Latonya', 'Damian', 'Kathleen', 'Jan', 'Aileen', 'Eleanor', 'Hiram', 'Donnie', 'Isaac', 'Gilbert', 'Erma', 'Kent', 'James', 'Abdul', 'Genaro', 'Hung'], 'Walker': ['Arturo', 'Latonya', 'Kaye', 'Quinn', 'Yvette', 'Genaro', 'Kent', 'Travis', 'Donte', 'Brandy', 'Donnie', 'Darcy', 'Damian', 'Jan', 'Abdul', 'Sammy', 'Louis', 'Gilbert', 'Aileen', 'Homer', 'Teddy', 'Erma', 'Hung', 'Berta', 'Kathleen', 'Eleanor', 'Carmela', 'Hiram', 'Isaac', 'James'], 'Rhoda': ['Hung', 'Homer', 'Sammy', 'Brandy', 'Eleanor', 'Yvette', 'Genaro', 'Travis', 'Aileen', 'Damian', 'Carmela', 'Hiram', 'Arturo', 'Kent', 'Teddy', 'James', 'Kathleen', 'Louis', 'Latonya', 'Jan', 'Isaac', 'Quinn', 'Donnie', 'Kaye', 'Berta', 'Gilbert', 'Darcy', 'Abdul', 'Donte', 'Erma'], 'Sean': ['Travis', 'Sammy', 'Yvette', 'Aileen', 'Kaye', 'Abdul', 'Brandy', 'Darcy', 'Berta', 'Gilbert', 'Eleanor', 'Arturo', 'Homer', 'Donnie', 'Erma', 'Hiram', 'Isaac', 'Jan', 'Carmela', 'Genaro', 'Donte', 'Damian', 'Quinn', 'James', 'Louis', 'Kathleen', 'Teddy', 'Hung', 'Latonya', 'Kent'], 'Irene': ['Isaac', 'Kaye', 'Quinn', 'Kathleen', 'Latonya', 'Teddy', 'Gilbert', 'Berta', 'Hiram', 'Genaro', 'Aileen', 'Donte', 'Erma', 'Hung', 'Carmela', 'James', 'Sammy', 'Travis', 'Homer', 'Kent', 'Louis', 'Abdul', 'Damian', 'Eleanor', 'Darcy', 'Brandy', 'Donnie', 'Jan', 'Yvette', 'Arturo'], 'Everett': ['Isaac', 'Hung', 'Latonya', 'Arturo', 'Donnie', 'Quinn', 'Teddy', 'Kent', 'Genaro', 'Sammy', 'Abdul', 'Travis', 'Aileen', 'Brandy', 'Berta', 'Damian', 'Erma', 'Hiram', 'Homer', 'Carmela', 'Louis', 'Darcy', 'Kathleen', 'Eleanor', 'Kaye', 'Jan', 'James', 'Gilbert', 'Yvette', 'Donte'], 'Lawanda': ['Quinn', 'Isaac', 'Gilbert', 'James', 'Berta', 'Louis', 'Donte', 'Kent', 'Darcy', 'Hung', 'Yvette', 'Homer', 'Genaro', 'Hiram', 'Arturo', 'Eleanor', 'Brandy', 'Carmela', 'Erma', 'Abdul', 'Kathleen', 'Kaye', 'Aileen', 'Latonya', 'Damian', 'Jan', 'Donnie', 'Teddy', 'Travis', 'Sammy']}

## Stable Marriage

This does a better explanation than I could: https://en.wikipedia.org/wiki/Stable_marriage_problem

In [ ]:
import copy

## Disclosure: This is copied from https://rosettacode.org/wiki/Stable_marriage_problem#Python

guyprefers = tor_p
galprefers = tee_p
guys = sorted(tor_p.keys())
gals = sorted(tee_p.keys()) 

def check(engaged):
    inverseengaged = dict((v,k) for k,v in engaged.items())
    for she, he in engaged.items():
        shelikes = galprefers[she]
        shelikesbetter = shelikes[:shelikes.index(he)]
        helikes = guyprefers[he]
        helikesbetter = helikes[:helikes.index(she)]
        for guy in shelikesbetter:
            guysgirl = inverseengaged[guy]
            guylikes = guyprefers[guy]
            if guylikes.index(guysgirl) > guylikes.index(she):
                print("%s and %s like each other better than "
                      "their present partners: %s and %s, respectively"
                      % (she, guy, he, guysgirl))
                return False
        for gal in helikesbetter:
            girlsguy = engaged[gal]
            gallikes = galprefers[gal]
            if gallikes.index(girlsguy) > gallikes.index(he):
                print("%s and %s like each other better than "
                      "their present partners: %s and %s, respectively"
                      % (he, gal, she, girlsguy))
                return False
    return True
 
def matchmaker():
    guysfree = guys[:]
    engaged  = {}
    guyprefers2 = copy.deepcopy(guyprefers)
    galprefers2 = copy.deepcopy(galprefers)
    while guysfree:
        guy = guysfree.pop(0)
        guyslist = guyprefers2[guy]
        gal = guyslist.pop(0)
        fiance = engaged.get(gal)
        if not fiance:
            # She's free
            engaged[gal] = guy
            print("  %s and %s" % (guy, gal))
        else:
            # The bounder proposes to an engaged lass!
            galslist = galprefers2[gal]
            if galslist.index(fiance) > galslist.index(guy):
                # She prefers new guy
                engaged[gal] = guy
                print("  %s dumped %s for %s" % (gal, fiance, guy))
                if guyprefers2[fiance]:
                    # Ex has more girls to try
                    guysfree.append(fiance)
            else:
                # She is faithful to old fiance
                if guyslist:
                    # Look again
                    guysfree.append(guy)
    return engaged
 
 
print('\nPairings:')
engaged = matchmaker()
 
print('\nMentor-Mentee Pairs:')
print('  ' + ',\n  '.join('%s is paired to %s' % couple
                          for couple in sorted(engaged.items())))
print()
print('Pairing stability check PASSED'
      if check(engaged) else 'Pairing stability check FAILED')

Pairings:
  Abdul and Hubert
  Aileen and Dean
  Arturo and Rosalind
  Berta and John
  Brandy and Hobert
  Darcy and Billy
  Donnie and Erica
  Donte and Rowena
  John dumped Berta for Eleanor
  Erma and Teddy
  Gilbert and Catherine
  Hiram and Becky
  Homer and Kasey
  Isaac and Althea
  Rowena dumped Donte for James
  Jan and Brianna
  Kathleen and Trenton
  Kaye and Kris
  Kent and Paula
  Paula dumped Kent for Latonya
  Louis and Franklin
  Quinn and Lawanda
  Rosalind dumped Arturo for Sammy
  Teddy and Everett
  Travis and Stefan
  Franklin dumped Louis for Yvette
  Becky dumped Hiram for Carmela
  Genaro and Deangelo
  Arturo and Cristobal
  Becky dumped Carmela for Louis
  Hung and Irene
  Donte and Bradley
  Rowena dumped James for Kent
  Carmela and Sean
  Teddy dumped Erma for Damian
  Stefan dumped Travis for Hiram
  Erma and Rhoda
  Hobert dumped Brandy for Berta
  Brianna dumped Jan for James
  Althea dumped Isaac for Brandy
  Sean dumped Carmela for Jan
  John dumped Eleanor for Travis
  Deangelo dumped Genaro for Eleanor
  Cristobal dumped Arturo for Genaro
  Catherine dumped Gilbert for Carmela
  Sean dumped Jan for Gilbert
  Rhoda dumped Erma for Isaac
  Erica dumped Donnie for Arturo
  Teddy dumped Damian for Jan
  Cristobal dumped Genaro for Damian
  Genaro and Dianna
  Everett dumped Teddy for Donnie
  Irene dumped Hung for Erma
  Hung and Simone
  Becky dumped Louis for Teddy
  Catherine dumped Carmela for Louis
  Hubert dumped Abdul for Carmela
  Billy dumped Darcy for Abdul
  Darcy and Walker

Mentor-Mentee Pairs:
  Althea is paired to Brandy,
  Becky is paired to Teddy,
  Billy is paired to Abdul,
  Bradley is paired to Donte,
  Brianna is paired to James,
  Catherine is paired to Louis,
  Cristobal is paired to Damian,
  Dean is paired to Aileen,
  Deangelo is paired to Eleanor,
  Dianna is paired to Genaro,
  Erica is paired to Arturo,
  Everett is paired to Donnie,
  Franklin is paired to Yvette,
  Hobert is paired to Berta,
  Hubert is paired to Carmela,
  Irene is paired to Erma,
  John is paired to Travis,
  Kasey is paired to Homer,
  Kris is paired to Kaye,
  Lawanda is paired to Quinn,
  Paula is paired to Latonya,
  Rhoda is paired to Isaac,
  Rosalind is paired to Sammy,
  Rowena is paired to Kent,
  Sean is paired to Gilbert,
  Simone is paired to Hung,
  Stefan is paired to Hiram,
  Teddy is paired to Jan,
  Trenton is paired to Kathleen,
  Walker is paired to Darcy

Pairing stability check PASSED

In [ ]:
import json
print(json.dumps(engaged,sort_keys=True, indent=4))

{
    "Althea": "Brandy",
    "Becky": "Teddy",
    "Billy": "Abdul",
    "Bradley": "Donte",
    "Brianna": "James",
    "Catherine": "Louis",
    "Cristobal": "Damian",
    "Dean": "Aileen",
    "Deangelo": "Eleanor",
    "Dianna": "Genaro",
    "Erica": "Arturo",
    "Everett": "Donnie",
    "Franklin": "Yvette",
    "Hobert": "Berta",
    "Hubert": "Carmela",
    "Irene": "Erma",
    "John": "Travis",
    "Kasey": "Homer",
    "Kris": "Kaye",
    "Lawanda": "Quinn",
    "Paula": "Latonya",
    "Rhoda": "Isaac",
    "Rosalind": "Sammy",
    "Rowena": "Kent",
    "Sean": "Gilbert",
    "Simone": "Hung",
    "Stefan": "Hiram",
    "Teddy": "Jan",
    "Trenton": "Kathleen",
    "Walker": "Darcy"
}

In [ ]:
# Figuring out true matches (Where both mentors and mentees actually ranked the people)
results = pd.DataFrame()
true_matches = {}
for k in engaged:
  v = engaged[k]
  if tor_p[v].index(k) < 10 and tee_p[k].index(v) < 10: # Either one has been selected using random picks
    true_matches[k + ", " + v] = str(tee_p[k].index(v)) + ", " + str(tor_p[v].index(k))
    df = {}
    df["Mentor Name"] = v
    df["Mentee Name"] = k
    df["Mentee's Rating"] = tee_p[k].index(v) + 1
    df["Mentor's Rating"] = tor_p[v].index(k) + 1
    results = results.append(df, ignore_index=True)
print(json.dumps(true_matches,sort_keys=True, indent=4))

{
    "Althea, Brandy": "0, 2",
    "Becky, Teddy": "5, 4",
    "Billy, Abdul": "0, 2",
    "Bradley, Donte": "1, 2",
    "Brianna, James": "7, 5",
    "Catherine, Louis": "1, 2",
    "Cristobal, Damian": "8, 5",
    "Dean, Aileen": "6, 0",
    "Erica, Arturo": "8, 6",
    "Everett, Donnie": "4, 6",
    "Franklin, Yvette": "5, 0",
    "Hobert, Berta": "0, 6",
    "Hubert, Carmela": "5, 9",
    "John, Travis": "0, 5",
    "Kasey, Homer": "0, 0",
    "Kris, Kaye": "0, 0",
    "Lawanda, Quinn": "0, 0",
    "Paula, Latonya": "1, 0",
    "Rosalind, Sammy": "2, 0",
    "Sean, Gilbert": "9, 1",
    "Simone, Hung": "7, 3",
    "Stefan, Hiram": "5, 3",
    "Teddy, Jan": "0, 5",
    "Trenton, Kathleen": "2, 0"
}

In [ ]:
# Figuring out matches made by randomization:

random_found = {}
for k in engaged:
  v = engaged[k]
  if tor_p[v].index(k) >= 10 or tee_p[k].index(v) >= 10: # Either one has been selected using random picks
    random_found[k + ", " + v] = str(tee_p[k].index(v)) + ", " + str(tor_p[v].index(k))
    df = {}
    df["Mentor Name"] = v
    df["Mentee Name"] = k
    df["Mentee's Rating"] = tee_p[k].index(v) + 1
    df["Mentor's Rating"] = tor_p[v].index(k) + 1
    results = results.append(df, ignore_index=True)
print(json.dumps(random_found,sort_keys=True, indent=4))

{
    "Deangelo, Eleanor": "19, 2",
    "Dianna, Genaro": "13, 3",
    "Irene, Erma": "12, 10",
    "Rhoda, Isaac": "20, 7",
    "Rowena, Kent": "10, 2",
    "Walker, Darcy": "11, 11"
}

The randomized dataset had estimated around 10/30 pairs wouldn't get matches. But we didn't consider that if a mentee ranks a mentor high, the mentor is likely to rank the mentee high. And vice-versa. Both of these considerations would make it more likely that people rank each other in their top 10.

We didn't really get into conditional probabilities in this simulation, but if we did consider those we'd have even fewer pairs that needed to be matched manually.

In [ ]:
results = results.reindex(columns=["Mentee Name", "Mentor Name", "Mentee's Rating", "Mentor's Rating"])
results["Mentee's Rating"] = pd.to_numeric(results["Mentee's Rating"], downcast="integer")
results["Mentor's Rating"] = pd.to_numeric(results["Mentor's Rating"], downcast="integer")
results.head()

  Mentee Name Mentor Name  Mentee's Rating  Mentor's Rating
0      Hubert     Carmela                6               10
1        Dean      Aileen                7                1
2    Rosalind       Sammy                3                1
3        John      Travis                1                6
4      Hobert       Berta                1                7

In [ ]:
results.to_csv("pairs.csv", index=False)